@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<span class="prompt">
		<Image class="glyph" Texture=@Input.GetGlyph("Attack1", InputGlyphSize.Medium, GlyphStyle.Light) />
		<span class="text @(divePromptClass)">@DivePrompt</span>
	</span>
</root>

@code
{
	[Property] public PlayerLeap PlayerLeap { get; set; }
	public string DivePrompt;
	private String divePromptClass = "Ready";

	protected override void OnUpdate()
	{
		if (SpectatorMode.Current != null)
		{
			Enabled = !SpectatorMode.Current.IsActive;
		}

		if (PlayerLeap.IsLeaping)
		{
			DivePrompt = "-";
			divePromptClass = "OnCooldown";
		}
		else
		{
			DivePrompt = Math.Floor(PlayerLeap.LeapCooldownTime + 1).ToString();
			if (PlayerLeap.LeapCooldownTime < 0.01)
			{
				DivePrompt = "Dive";
				divePromptClass = "Ready";
			}
		}
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(DivePrompt);
	}
}