{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "2ed73110-0baa-464c-9afe-d65dde17d886",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}